body {
  font-family: 'Lato', sans-serif;
  background-color: pink;
  background: url("http://placekitten.com/1500/700") top center no-repeat; 
  background-attachment:fixed;
  -webkit-background-size: cover;
}

#title {
  color: purple;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
}

.restaurant-group {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em 1.5em;
  margin: 1em 0em;
  border-radius: 1.2em;
  overflow: hidden;
}

.restaurant-group h2 {
  margin: 1px 0px 0px 0px;
}

.restaurant-group h3 {
  margin-top: 0px;
  font-weight: normal;
  font-size: 90%;
  font-style: italic;
}

a {
  text-decoration: none;
  font-size: .75em;
  background-color: purple;
  color: white;
  padding: .5em;
  margin-top: 1em;
  border-radius: .7em;
  border: 1px solid #555;
  box-shadow: 2px 2px 5px #888888;
}

a:hover {
  background-color: green;
}

p {
  font-size: .9em;
  line-height: 120%;
}

.play {
  width: 24%;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
}

  #one {
    background-color: red;
  }

  #two {
    background-color: blue;
  }

  #three {
    background-color: purple;
  }

  #four {
    background-color: green;
  }

  img {
    float: left;
    margin-right: 2em;
  }
